p {
    color: coral;
    /*font-size: 32px;*/
    width: 30%;
    background-color: lightskyblue;
    height: 50px;
    display: inline-block;
}
h2, h3 {
    color: blue;
}
sub, sup {
    font-size: 16px;
    color: tan;
}
span{
    /*font-size: 40px;*/
    color: darkblue;
    width: 30%;
    background-color: lightskyblue;
    height: 50px;
    display: inline-block;
}
