*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 113px;
    background: #24204A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    top: 0;
}
.header__div_w-1170{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h3{
    color: #E5E5E5;
    font-size: 20px;
    font-weight: 700;
    opacity: 0.6;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 64px;
}
nav a{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    text-decoration: none;
}
/*----------------------one__posotion--------------------*/
.one-posotion{
    width: 100%;
    height: 692px;
    background: #24204A;
    padding: 180px 0 101px 0;
}
.one-posotion__div_w-1170{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding-right: 17px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.one-posotion__div_w-1170 div:nth-child(1){
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
    flex-direction: column;
    margin-top: 18px;
    gap: 32px;
}
.button_one-posotion{
    width: 145px;
    height: 41px;
    border: none;
    border-radius: 8px;
    background: #4B4864;

    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
.one-posotion__div_w-1170 h1{
    width: 261px;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;
}
.one-posotion__div_w-1170 p{
    width: 570px;
    /*height: 85px;*/
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
.button-about{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background: #3F50E7;
    box-shadow: 0px 6px 20px 0px rgba(0, 255, 224, 0.20);

    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}
.one-posotion__div_w-1170 div:nth-child(2){
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}
.one-posotion__div_w-1170 img{
    height: 318px;
}

/*----------------------lorem__ipsum--------------------*/
.lorem-ipsum{
    width: 100%;
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
}
.lorem-ipsum__div_w-1170{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}
.icon{
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 18px;
}
.icon div:nth-child(1){
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.icon h4{
    width: 38.098px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.icon p{
    width: 101.26px;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.icon:nth-child(1) div:nth-child(1){
    background: #FF6853;
}
.icon:nth-child(2) div:nth-child(1){
    background: #FF537C;
}
.icon:nth-child(3) div:nth-child(1){
    background: #80D2C4;
}
.icon:nth-child(4) div:nth-child(1){
    background: #3F50E7;
}
.icon:nth-child(5) div:nth-child(1){
    background: #95CB7C;
}
.lorem-ipsum__div_w-1170 h2{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
}
.lorem-ipsum__div_w-1170>p{
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*gap: 32px;*/
}
.card{
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    /*gap: 28px;*/
    padding-top: 44px;
}
.card p{
    width: 178px;
    margin-top: 28px;
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
/*----------------------map--------------------*/
iframe{
    width: 100%;
    height: 664px;
    display: block;
}
/*----------------------footer--------------------*/
footer{
    width: 100%;
    height: 94px;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 200%; /* 24px */
}
