*{
    margin: 0;
    padding: 0;
}
.grid-wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 0.27fr 0.46fr 0.27fr;
    grid-template-rows: 0.22fr 0.56fr 0.22fr;
    grid-template-areas:
            "header header header"
            "aside-left main aside-right"
            "footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
.aside-left{
    grid-area: aside-left;
    background: #C0BDBD;
}
main{
    grid-area: main;
    background: #A4A4A4;
}
.aside-right{
    grid-area: aside-right;
    background: #C0BDBD;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}
